<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="postData(post, user)">
        <div class="image">
            <img th:src="${post.getResultImage().getImage()}">
        </div>
        <div class="descr">
            <div>
                <label class="nickname" th:text="${post.getAuthor().getNickname()}"></label>
                <label id="title" th:text="${post.getTitle()}"></label>
            </div>
            <div>
                <label id="created_data" th:text="${post.getDate()}"></label>
            </div>
            <div class="tags">
                <div class="tag" th:if="${not post.getTags().isEmpty()}">
                    <label th:each="postTag:${post.getTags()}" th:text="${postTag.getName()}"></label>
                </div>
                <div th:if="${user.getId()}">
                    <div th:if="${user.getId()} eq ${post.getAuthor().getId()}">
                        <form class="add_tag" style="display:none;" onsubmit="submitTag(this); return false;">
                            <input type="hidden" th:value="${post.getId()}" name="postId">
                            <input type="text" name="tag">
                            <input type="submit" value="Добавить">
                        </form>
                        <button class="show_tag_field" type="button">Добавить</button>
                    </div>
                </div>
            </div>
            <div>
                <label id="description" th:text="${post.getDescription()}"></label>
            </div>
        </div>
    </div>
</body>
</html>