<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать!</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <style>
        img{
         max-width: 200px;
         height: auto;
         display: block;
        }
    </style>
</head>
<body>
    <div class = "user">
        <img id="avatar" th:src="${userPage.getAvatar()}" alt="Avatar">
        <p class="nickname" th:text="${userPage.getNickname()}"></p>
    </div>
    <div class="posts">
        <div class="post" th:if="${not userPage.getPosts().isEmpty()}">
            <div th:each="post: ${userPage.getPosts()}">
                <div>
                    <img th:src="${post.getResultImage().getImage()}" alt="Post">
                </div>
                <div>
                    <label class="nickname" th:text="${userPage.getNickname()}"></label>
                    <label id="title" th:text="${post.getTitle()}"></label>
                </div>
                <div>
                    <label id="created_data" th:text="${post.getDate()}"></label>
                </div>
                <div>
                    <label id="description" th:text="${post.getDescription()}"></label>
                </div>
            </div>
        </div>
            <div id="dialog-form" title="Добавить фото">
                <form id="create_post" action="/new_post" style="display:none;">
                    <input type="hidden" id="user_id" th:value="${userPage.getUserId()}">
                    <div>
                        <input type="file" accept="image/jpeg" id="image"  title="картинка">
                    </div>
                    <div>
                        <input type="text" id="post_title" title="название">
                    </div>
                    <div>
                        <input type="text" id="send_description" title="описание">
                    </div>
                    <div>
                        <input type="submit" value="Сохранить">
                    </div>

                </form>
                <div>
                    <button class="show_field" type="button">Добавить</button>
                </div>
            </div>
    </div>

    <script type="text/javascript" src="/script/show_pass.js"></script>
    <script type="text/javascript" src="/script/add_post.js"></script>
</body>
</html>